* {
    padding: 0;
    margin: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;

}

.logo {
    margin: 10px 0px;
}

.logo img {
    height: 50px;
    margin: 10px 10px;
}

ul {
    display: flex;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    font-size: 25px;
}

ul li a {
    display: block;
    padding: 3px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: blue;
    background-color: white;
}




.home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}


.home {
    text-align: center;
    margin: 250px 100px;
    color: white;
}

header {
    width: 100%; height: 125vh;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.89;
}

.heading1 {
    font-size: 40px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    color: darkolivegreen;
}

.head1 {
    font-size: 80px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

span.head2::after {
    content: "";
    animation-name: changetext;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: blue;
    text-transform: uppercase;
}

@keyframes changetext {
    0%   {content: " Bangalore ";}
    50%  {content: " Shivamogga ";}
    100% {content: " Davanagare ";}
}

.head3 {
    font-size: 100px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: firebrick;
}


.home p{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 238, 0);
}

.button1 {
    font-size: 30px;
    margin: 40px 40px;
    padding: 6px 30px;
    background-color: blue;
    border-radius: 12px;
    cursor: pointer;
}

.button1:hover {
    background-color: red;
    color: pink;
}

.h-primary {
    text-align: center;
    font-size: 70px;
    padding: 12px;
}

.h-secondary {
    text-align: center;
    padding: 12px;
    font-size: 45px;
}

.center {
    text-align: center;
}

#servies {
    margin: 34px;
    display: flex;
}

#servies .box {
    border: 3px solid black;
    padding: 50px;
    margin: 10px 15px;
    border-radius: 34px;
}

#servies .box img {
    height: 160px;
    margin: auto;
    display: flex;
}

.h-pr1 {
    text-align: center;
    font-size: 55px;
    margin: 50px 50px;
}



.myclint {
    background-color: black;
    color: white;
    width: 100%;
    height: 450px;
}

.clint-item img {
    height: 250px;
    margin: 20px 65px;
}


#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: red;
}


.h-pr2 {
    text-align: center;
    font-size: 55px;
    padding: 20px 25px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 9px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#contact-box form {
    width: 40;
}

#contact-box label {
    font-size: 25px;
}

#contact {
    text-transform: uppercase;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}

.center {
    font-size: 25px;
    padding-top: 10px;
}